{% assign footer = site.data.footer['main'] %}
{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Footer -->
<footer class="footer">
    <div class="copy">
        <p>{{ footer.text1 }}</p>
        <p>{{ footer.text2 }}</p>
        <div id="artibot-1645540162063"></div>
        <button id="toggle">Get in touch</button>

        
        <script>
            const targetDiv = document.getElementById("artibot-1645540162063");
            document.getElementById("artibot-1645540162063").style.display = "none";
            const btn = document.getElementById("toggle");
            btn.onclick = function () {
                if (targetDiv.style.display !== "none") {
                    targetDiv.style.display = "none";
                } else {
                    targetDiv.style.display = "block";
                }
            };
        </script>
        <script type="text/javascript">!function (t, e) { t.artibotApi = { l: [], t: [], on: function () { this.l.push(arguments) }, trigger: function () { this.t.push(arguments) } }; var a = !1, i = e.createElement("script"); i.async = !0, i.type = "text/javascript", i.src = "https://app.artibot.ai/loader.js", e.getElementsByTagName("head").item(0).appendChild(i), i.onreadystatechange = i.onload = function () { if (!(a || this.readyState && "loaded" != this.readyState && "complete" != this.readyState)) { new window.ArtiBot({ i: "cfb97ea9-80b7-4eba-b345-417f4e40065d", em: { id: '1645540162063', w: '800', h: '600', sh: false, tb: true } }); a = !0 } } }(window, document);</script>

    </div>
    <div class="soc-box">
        <div class="follow-label">{{ ui_text.follow_me }}</div>
        <div class="soc">
            {% for link in footer.social %}
            <a target="_blank" href="{{ link.url }}" title="{{ link.title }}">
                <span class="icon {{ link.icon }}"></span>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
    </footer>